
@font-face {
    font-family: ZeroPrimeSuperItalic-p78wv;
    src: url(/font/ZeroPrimeSuperItalic-p78wv.otf);
}

@font-face {
    font-family: ZeroPrimeHalftoneItalic-9YEXj;
    src: url(/font/ZeroPrimeHalftoneItalic-9YEXj.otf);
}

.h2logo {
    font-family:ZeroPrimeSuperItalic-p78wv;
    font-size: 2.5rem;
    color: #6145ea;
    letter-spacing: 3px;
}
.am-tracking{
    font-family:ZeroPrimeSuperItalic-p78wv;
}

.animate{-webkit-animation:puff-in-center .9s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .9s cubic-bezier(.47,0.000,.745,.715) both}

:root{
    --bgcolor: linear-gradient(36deg, rgba(64,157,246,1) 5%, rgba(107,45,231,1) 46%);
}

 .divnav{box-shadow: 0 20px 30px -14px rgba(9, 9, 16, 0.24);}

 .navbar {
background-image:var(--bgcolor);
padding: 0.3rem 1rem;}

.navbar-brand{
    padding-top: none;
    padding-bottom: none;
}

.navbar-light .navbar-brand {
color: rgb(255, 255, 255);}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
 color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
 color: rgb(255, 255, 255);}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
color: rgba(255, 255, 255, 0.86);}

.card-header {
background-image:var(--bgcolor);
color: white;
border-bottom: none;}

.card {
background-color: #fff;
border-radius: 0.25rem;
border: none;
box-shadow: 0 20px 30px -14px rgba(9, 9, 16, 0.09);}

.btn{
    border:none;
    border-radius: 2px;
}

.btn-primary {
color:#ffffffe6;
background-color: #444053;
width:100%;
box-shadow: 0px 4px 30px -9px rgba(9, 9, 16, 0.59);
}

.btn-primary:hover{
background-color: #444053ad;
color: #ffffffe6;
border-color: none;
}

.btn-primary:focus,
.btn-primary.focus {
background-color: #444053ad;
color: #ffffffe6; 
border-color: none;
box-shadow: none;
}

.table thead th {
    border-top:none;
    border-bottom:none;
    background-color: #4440531f;
}
.table th, .table td{
    border-bottom: 1px solid #dee2e6;
}

tbody>tr:hover {
    background:#00000007;
}

label {
    font-weight: 700;
}
.green {color:var(--green);}
.red {color:var(--red);}

.btnuser {
    border: 1px solid #ffffffc7; padding: 3px 14px; border-radius: 2px;margin:3px;
}

.navbar-light .navbar-toggler-icon {
    filter: contrast(4) invert(1);
}

.gamecol{padding-bottom: 33px;}

.sansarrow { font-family:'Teko',sans-serif; font-size: 29px; } 
.alert2{ background-image: var(--bgcolor); color: white; border: none; opacity: 1;} .page-link{ color: #444053;margin-bottom: 0; }

body::-webkit-scrollbar { width: 5px; } body::-webkit-scrollbar-track { background-color: #7b56e9; border-radius: 16px; } body::-webkit-scrollbar-thumb { background-color: #444053; border-radius: 16px; }
a:hover {text-decoration: none;opacity: 0.7;transition: 0.3s;}

.material-icons:hover {-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
.am-tracking{-webkit-animation:tracking-in-expand 2.3s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand 2.3s cubic-bezier(.215,.61,.355,1.000) both;}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-19 7:29:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 @-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}